<div class="max-w-6xl mx-auto pb-16">
    <div class="flex cursor-pointer hover:text-blue-700 items-center mb-6" (click)="showExercisesModal()">
        <span nz-icon nzType="unordered-list" nzTheme="outline" class="text-lg"></span>
        <p class="ml-2">See all questions</p>
    </div>
    
    @for (exercise of exercises; track $index) {
        <div class="mb-8">
            <app-question-card [exercise]="exercise" [totalQuestion]="totalQuestion" [currentQuestionIndex]="$index+1"></app-question-card>
        </div>
    }

    <div class="flex justify-center">
        <button class="text-white bg-amber-600 hover:bg-amber-500 font-semibold py-3 px-6"
        (click)="onFinishPractice()">
        Finish
    </button>
</div>

<app-question-check-modal [(isShowModal)]="isShowExercisesModal" [exercises]="exercises"></app-question-check-modal>