<div class="max-w-2xl mx-auto space-y-6">
    <div class="flex justify-between items-center">
        <div>
            <span nz-icon nzType="book" nzTheme="outline" class="text-2xl cursor-pointer hover:text-amber-700"
                nz-tooltip="Bookmark" routerLink="bookmark"></span>
            <span nz-icon nzType="history" nzTheme="outline" class="text-2xl ml-2 cursor-pointer hover:text-sky-400"
                nz-tooltip="History" routerLink="history"></span>
        </div>
        <button type="button" routerLink="exam-random"
            class="bg-rose-600 px-4 py-3 text-base  text-white hover:bg-rose-400">
            Random
        </button>
    </div>


    <!-- Card 3 -->
    @for (topic of topics; track $index) {
    <div>
        <app-topic-card [topic]="topic" [index]="$index+1" [routerLink]="'/practices/' + topic.id + '/exam'"
            [totalQuestion]="totalQuesOnTopic"></app-topic-card>
    </div>
    }
</div>