<div class="bg-white shadow-lg rounded-none overflow-hidden flex">
    <!-- Right Section (Content) -->
    <div class="w-3/4 p-4 flex flex-col ">
        <h2 class="text-xl font-semibold text-gray-800">{{index}}. {{topic.name}}</h2>
        <div class="flex items-center mt-2 text-gray-600">
            <span nz-icon nzType="question-circle" class="text-sm" nzTheme="outline"></span>
            <span class="ml-2">{{totalQuestion}} question</span>
        </div>
        <div class="flex items-center mt-2 text-gray-600">
            <span nz-icon nzType="field-time" class="text-base" nzTheme="outline"></span>
            <span class="ml-2">15 minutes</span>
        </div>
    </div>
    <div class="w-1/4 flex justify-end">
        <button [routerLink]="routerLink"
            class="mt-4 text-white bg-blue-800 hover:bg-blue-600 font-semibold py-2 px-4">
            Start Test
        </button>
    </div>
</div>

@if (false) {
    <div class="bg-gradient-to-br from-blue-400 to-blue-600 w-1/4 p-4 flex items-center justify-center relative">
        <span class="text-lg font-bold text-white z-10">Topic {{index}}</span>
        <div class="absolute inset-0 bg-blue-300 opacity-20 transform rotate-45 rounded-lg"></div>
    </div>
}
